*

!/.gitignore
!*.go
!go.sum
!go.mod

!dnd/srd.md
!dnd/srd.yaml

!.github/workflows/ci.yaml

!.goreleaser.yaml
!scripts/install.sh
!scripts/release

!examples/*.gif
!examples/*.tape

!README.md
!LICENSE
!CLAUDE.md

!*/