*

!/.gitignore
!*.go
!go.sum
!go.mod

!dnd/srd.yaml

!.github/**/*

!.goreleaser.yaml
!scripts/install.sh
!scripts/release

!examples/*.gif
!examples/*.tape

!CONTRIBUTING.md
!README.md
!LICENSE
!CLAUDE.md

!*/