*

!/.gitignore
!*.go
!go.sum
!go.mod

!dnd/srd.yaml

!.github/**/*

!.goreleaser.yaml
!scripts/install.sh
!scripts/release

!examples/*.gif
!examples/*.yaml
!examples/*.tape

!CONTRIBUTING.md
!banner.svg
!README.md
!LICENSE

!CLAUDE.md
!.claude/settings.json

!*/